
{% extends "../../store/base.html" %}
{% load static %}
{% static 'static/css/main.css' %}
{% block title%}Entrar{% endblock %}
{% block content %}




<div class="container-fluid loginbody">
    <div class="row no-gutter">
        <div class="col-md-12 ">
            <div class="login d-flex align-items-center py-5 ">
                <div class="container ">
                    <div class="row ">
                        <div class="col-5 col-lg-16 mx-auto color-change mysb ">
                            <form action="{% url 'users:login' %}" method="post" class="account-form p-4 rounded">

                            {% csrf_token %}
                            

                            {% if forms.error %}
                            <div class="alert alert-primary" role="alert">
                                dados incorretos
                            </div>
                            {% endif %}
                            <h3 class=" pb-3 pt-3 mb-4">Login</h3>
                            <label class="form-label">{{ form.username.label }}</label>
                            {{ form.username }}

                            <label for="" class="form-label">{{ form.password.label }}</label>
                            {{ form.password }}

                            <div class=" d-grip gap-3 d-flex flex-row-reverse">
                                <input type="hidden" name="next" value="{{ next }}">
                                <button class="btn btn-primary mb-4 mt-5 fw-bold" type="submit" value="login">Login</button>
                            </div>
                            <p class="text-center pb-4">
                                Não tem conta? <a href="{% url 'users:register' %}">Registre-se</a>
                            </p>
                            <p class="text-center">Esqueceu a senha
                                <a href="{% url "users:pwdreset" %}">clique aqui?</a>
                            </p>

                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}