@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


* {
   font-family: 'Roboto', sans-serif; 
   box-sizing: border-box;
   margin: 0;
   padding: 0;
  
}


body{
    background-color: rgb(121, 119, 119);
}

.nav-item a{
    text-decoration: none;
    color: black;
    font-size: larger;
}


.nav-item a:hover{
    color:#1abc9c ;
}

.nav-search{
    flex-grow: 1;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.account-forms{
    background-color: #fff;    
}
.account-forms input {
        
        border: 2px solid #ccc;
        height: calc(2em+ .75rem + 2px);
        border: none;
        border-bottom: 2px solid blue;
}

.users-form input:focus {
    border-color: #1497ff;
   
}

.users-form input {
        
    border: 2px solid #ccc;
    height: calc(2em+ .75rem + 2px);
    border: none;
    border-bottom: 2px solid blue;
}

.account-forms input:focus {
border-color: #1497ff;

}

.mysb{
    box-shadow: 0px 0px 20px 0px rgba(31, 30, 30, 0.52);
    border-radius: 20px 0px 30px 0px;
}

