{% extends "base.html" %}
{% load static %}
{% block title %}Payment{% endblock %}
{% block content %}

<style>
  .account-form input
    {
    border: 2px solid #ccc;
    height: calc(2em + .75rem + 2px);
  }

  .form-control {
    border: 2px solid #ccc;
  }

  .account-form input:focus {
    border-color: #1497ff;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
  }
</style>


<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-12">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div id="payment-form" class="col-12 col-lg-6 mx-auto">
              <h3 class="mb-3">Endereço de Cobrança</h3>
              <!-- Error messages in this element -->
              <div id="card-errors" class="a" role="alert"></div>
              <form>
                <div class="row g-3">
                  <div class="col-sm-6">
                    <label for="firstName" class="form-label">Nome completo</label>
                    <input type="text" class="form-control" id="name" placeholder="" required>
                    <div class="invalid-feedback">
                      Nome completo obrigatorio
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="phone" class="form-label">Telefone/Celular</label>
                    <input type="text" class="form-control" id="phone" placeholder="" required>
                    <div class="invalid-feedback">
                      Nome completo obrigatorio
                    </div>
                  </div>
                  <div class="col-6">
                    <label for="cep" class="form-label">CEP </label>
                    <input type="cep" class="form-control" id="cep" placeholder="12345-678">
                    <div class="invalid-feedback">
                      numero do cep invalido
                    </div>
                  </div>
                  <div class="col-2">
                    <label for="state" class="form-label">Pais</label>
                      <input type="text" class="form-control" id="country">
                  </div>
                  <div class="col-4">
                    <label for="state" class="form-label">Estado</label>
                      <input type="text" class="form-control" id="state">
                  </div>
                  
                  <div class="col-12">
                    <label for="address" class="form-label">Bairro</label>
                    <input type="text" class="form-control" id="district" placeholder="1234 Main St" required>
                    <div class="invalid-feedback">
                      Please enter your shipping address.
                    </div>
                  </div>
                  <div class="col-10">
                    <label for="street" class="form-label">rua </label>
                    <input type="text" class="form-control" name="street" id="street" placeholder="Rua">
                  </div>
                  <div class="col-2">
                    <label for="number" class="form-label">numero </label>
                    <input type="text" class="form-control" name="number" id="number" placeholder="Rua">
                  </div>
                  
                  
                  
                  
                  
                </div>
                <hr class="my-4">
                <h4 class="mb-3">Pagamento</h4>
                <label for="card-element">Cartão de credito</label>
                <div id="card-element" class="form-control form-control-payment">
                  <!-- Payment elements will appear here -->
                </div>
                <hr class="my-4">
                <button id="submit" class="btn btn-primary w-100 fw-bold" data-secret="{{ client_secret }}">Pagar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    
    var CSRF_TOKEN = '{{ csrf_token }}';
</script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'payment/index.js' %}" data-rel-js></script>
<script src="{% static 'payment/cep.js' %}"></script>

{% endblock %}

